@media (max-width: 1255px) {
    .body-container {
        grid-template-columns: repeat(4, 1fr);
        margin: 0.1rem 0.5rem;
        height: 68vh;
        overflow-x: hidden;
    }
    .nav {
        margin-top: 2rem;
    }

    #heading {
        font-size: 3.5rem;
    }

    #modal-img {
        width: 50vw;
        height: auto;
        margin-top: -35vh;
         margin-left: -30vw;
    }
  }

@media (max-width: 768px) {
  .body-container {
      margin: 1rem auto;
      grid-template-columns: repeat(3, 1fr);
      height: 74vh;
  }

  #modal-img {
    width: 80vw;
    height: auto;
    margin-top: -20vh;
    margin-left: -40vw;
    }

}


@media (max-width: 663px) {
  .body-container {
      grid-template-columns: repeat(2, 1fr);
  }
  #heading {
      font-size: 3rem;
  }
}

@media (max-width: 400px) {
    .body-container {
        grid-template-columns: 1fr;
        height: 70vh;
    }
    #heading {
        font-size: 2rem;
    }
  }

@media (max-width: 850px) and (orientation: landscape) {
   #heading {
       margin: 0;
       font-size: 1.5rem;
   }
} 